.dimension-img
{
	margin-left: auto;
  	margin-right: auto;
    width:20em;
}

.dimension-img-members
{
    width:10em;
}

.image-click
{
	cursor:pointer
}

.text-center
{
	text-align : center
}

p{
	text-align : justify;
	margin: 0 0 0px;
}

.legend-number{
	color:red;
}

.legend-title{
	font-weight:bold;
}

.padding-p{
	padding-bottom: 5px;
}

.padding-label{
	padding-bottom: 10px;
}