.dimension-img
{
	margin-left: auto;
  	margin-right: auto;
    width:20em;
}

.dimension-img-members
{
    width:10em;
}

.dimension-img-aide
{
	height: 27em;
}

.image-click
{
	cursor:pointer
}

.text-center
{
	text-align : center
}

p{
	text-align : justify;
	margin: 0 0 0px;
}

.slider-pager {
  bottom: 5px;
}